@font-face {
  font-family: "Crucial"; /*Can be any text*/
  src: local("CrucialMedium"),
    url("./fonts/CrucialMedium.otf") format("opentype");
}

.App {
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
body{
  background: #0B090A;
  color: #FCFCFC;
}
body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  outline: 1px solid #303030;
  border-radius: 60px;
}
.MainContainer {
  width: 86%;
  max-width: 1330px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
h2 {
  font-family: "Crucial", "Times New Roman", Times, serif !important;
}

@media screen and (max-width: 768px) {
  .MainContainer {
    width: 92%;
  }
}
