.footer-container {
  margin: 2.9rem 0;
}
.footer .navlinks {
  display: flex;
  flex-direction: column;
}
.footer .navlinks li {
  margin: 0.3rem 0;
}
.footer .navlinks li a {
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 28px;
  /* identical to box height, or 140% */
  display: flex;
  align-items: center;

  /* Text color */

  color: #030303;
}
.footer p img {
  margin-right: 12px;
}
.copyright{
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
}
.copyright p{
  font-family: 'Della Respira';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 33px;
/* identical to box height */
/* border: 1px solid red; */
margin: 0 auto;

/* White */

color: #FCFCFC;
text-align: center;
}
@media screen and (max-width: 768px) {
  .footer {
    /* flex-direction: column;
    align-items: center; */
  }
  .footer-container {
    position: relative;
    margin-bottom: 4.85rem;
  }
  .footer p {
    font-size: 1rem;

    position: absolute;
    bottom: -50px;
    width: 100%;
    left: 22px;
    right: 0;
    /* left: 50%; */

    text-align: center;
  }
}
